body {
  background-color: #121212 !important;
  color: white !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: #ff3d71 !important;
}

a {
  text-decoration: none !important;
}

.footer-link {
  margin-bottom: 8px;
  display: inline-block;
}

.active {
  font-weight: bold;
  background-color: #ff3d71 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* Dark mode styles for SignUpForm */
.signup-form .form-control::placeholder {
  color: #adb5bd;
}

.signup-btn {
  background-color: #ff3d71 !important;
  color: white !important;
}

.signup-logo {
  font-size: 3rem;
  color: #ff3d71;
}

/* NotFound Page Styles */
.notfound-icon {
  color: #ff3d71;
}

.notfound-btn {
  background-color: #ff3d71 !important;
  color: white !important;
  border: none !important;
}

.movie-card{
  cursor: pointer;
}
/* Image */
.movie-card img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

/* Dark overlay */
.overlay {
  
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.85) 0%,
    rgba(0,0,0,0.6) 40%,
    rgba(0,0,0,0.2) 70%,
    transparent
  );
}

/* Info block */

/* Top row */
.top {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.type {
  background: #e50914;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.rate {
  font-size: 14px;
}

.ff{
  background-color: #ff3d71;
}